*~
#*
.project
.settings
.classpath
.vscode
*/.project
*/.classpath
*/.settings
.DS_STORE
target/*
*/target
*/target/*
/bin/
/target/
/WebContent/META-INF/context.xml
*.bak
*.swp
*.war
dploy/
bfg-1.13.0.jar
*.~lock*
